<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="headpage">
            <h1>Register</h1>
        </div>
        <% if (errorMessage) { %>
            <div class= "user-message user-message--error">
                <%= errorMessage %>
            </div>
        <% } %>
        
        <form class="login-form" action="/register" method="POST">
            <p>Order quickly with your stored delivery details<br>
                Keep track of your orders
                </p>
            <p>Already have an account? <a href="/login"> Login</a></p>

       
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email">
            </div>
           
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>
            <div class="form-control">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="form-control">
                <label for="lname">Last Name</label>
                <input type="text" name="lname" id="lname">
            </div>
            <div class="form-control">
                <label for="phone">Telephone</label>
                <input type="number" name="phone" id="phone">
            </div>
            <h2>Billing Address Details</h2>
            <div class="form-control">
                <label for="country">Country</label>
                <input type="text" name="country" id="country">
            </div>
            <div class="form-control">
                <label for="city">City</label>
                <input type="text" name="city" id="city">
            </div>
            <div class="form-control">
                <label for="address1">Address Line 1</label>
                <input type="text" name="address1" id="address1">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Register</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>